* {
  box-sizing: border-box;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  width: 100%;
}

body {
  font-family: 'Poppins';
  background: #fff;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}

.header {
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.name {
  font-size: 32px;
}

.header-list {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.header-item-link {
color: #2F281E;
transition: 0.15s all ease;
}

.header-item-link:hover {
  color: #FF9900;
}

.header-item:not(:last-child) {
  margin-right: 17px;
}

.header-btn {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 17px;
  cursor: pointer;
}

.sign-in {
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #173A56;
  transition: 0.3s all ease;
}

.sign-in:hover {
  background-color: #BCD0E5;
}

.sign-up {
  border: 1px solid #FF9900;
  background-color: #FF9900;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.3s all ease;
}

.sign-up:hover {
  box-shadow: rgba(255, 153, 0, 0.19) 0px 10px 20px, rgba(255, 153, 0, 0.23) 0px 6px 6px;
}

.sign-in,
.sign-up {
  padding: 13px 20px;
  margin-left: 15px;
}

.hero-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.hero-left {
  flex: 1 1 50%;
}

.hero-img {
  width: 100%;
}

.hero-btn {
  display: flex;
}

.hero-heading {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0px;
}

.hero-description {
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
}

.get-started-btn,
.watch-video-btn {
  padding: 13px 20px;
  margin-right: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.get-started-btn {
  border: 1px solid #FF9900;
  background-color: #FF9900;
  transition: 0.3s all ease;
}

.get-started-btn:hover {
  box-shadow: rgba(255, 153, 0, 0.19) 0px 10px 20px, rgba(255, 153, 0, 0.23) 0px 6px 6px;
}

.get-started-link {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

.watch-video-icon {
  display: flex;
  align-items: center;
}

.watch-video-link {
  text-decoration: underline;
  color: #FF9900;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
}

.play-icon {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.services-container {
  margin-top: 110px;
  margin-bottom: 100px;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-heading {
  margin: auto;
  width: 450px;
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
}

.services-img {
  width: 50px;
  height: 50px;
}

.services-list {
  display: flex;
  margin-top: 70px;
}

.services-item {
  max-width: 300px;
}

.services-item-heading {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.services-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.services-btn {
  margin: 0 auto;
  padding: 15px 30px;
  border: 1px solid #FF7549;
  border-radius: 4px;
  background: #FF7549;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  transition: 0.2s all ease;
}

.services-btn:hover {
  box-shadow: rgba(255, 0, 0, 0.19) 0px 10px 20px, rgba(255, 0, 0, 0.23) 0px 6px 6px;
}

.sign-up-now {
  color: #fff;
}

.strat-heading {
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0px;
  text-align: left;
}

.strat-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.strat_radio_btn {
	display: inline-block;
	margin-right: 10px;
}

.strat_radio_btn input[type=radio] {
	display: none;
}

.strat_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
  border: 1px solid #D7D7D7;
	border-radius: 90px;
	user-select: none;
}

.strat-container {
  margin-bottom: 50px;
}

.strat_radio_btn input[type=radio]:checked + label {
	background: #FF9900;
  color: #fff;
}
 
.strat_radio_btn label:hover {
	color: #666;
}

.strat_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}

.strat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.strat-item {
  width: 366px;
  height: 377px;
  border-radius: 8px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.strat-item:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  color: #FF9900;
}

.strat-item:not(:nth-child(3)) {
  margin-right: 35px;
  margin-bottom: 30px;
}

.strat-item:nth-child(4) {
  flex: 1 0 33.33%;
  margin-right: 35px;
}

.strat-item:nth-child(5) {
  margin-right: 0px;
  margin-bottom: 0px;
}

.strat-item:nth-child(8) {
  margin-right: 0px;
  margin-bottom: 0px;
}

.strat-item-img {
  border-radius: 8px 8px 0px 0px;
}

.strat-item-heading {
  margin: 24px 0px 0px 33px;
  padding-right: 35px;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  transition: 0.3s all ease-in-out;
}

.strat-item-tag,
.strat-item-tag1 {
  padding: 6px 14px;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #544837;
  background: #F5F5F5;
  border-radius: 90px;
  cursor: pointer;
}

.strat-item-tag1 {
  margin-left: 30px;
}

.clients {
  display: flex;
  margin-bottom: 100px;
}

.client1,
.client2 {
  margin-right: 55px;
}

.client1,
.client2,
.client3 {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  padding: 30px 0px 30px 30px;
  flex: 0 0 5%;
}

.client-img {
  position: relative;
  left: 40px;
  width: 100px;
  height: 100px;
  border: 1px solid blue;
  border-radius: 50%;
  background-size: 100%;
}

.section-contacts {
  background-color: #FFEEE1;
  margin-bottom: 60px;
}

.contact-container {
  background-color: #FFEEE1;
  padding-top: 62px;
  padding-bottom: 90px;
}

.icons {
  display: flex;
  flex-direction: column;
}

.icon1,
.icon2 {
  display: flex;
  align-items: center;
}

.ico-phone,
.ico-mail {
  width: 25px;
  height: 25px;
}

.contact-container {
  display: flex;
}

.form-name,
.form-mail {
  height: 45px;
  width: 280px;
  margin-left: 15px;
  margin-top: 15px;
  flex: 1 1 100%;
  border: none;
}

.form-ask {
  height: 159px;
  width: 575px;
  margin: 15px;
  margin-left: 15px;
  margin-top: 15px;
  border: none;
}

.form-list-top {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
}

.btn-submit {
  margin-left: 15px;
  margin-right: auto;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  background-color: #FF9900;
  color: #fff;
  cursor: pointer;
}